In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('./data/titanic_data.csv')

In [2]:
pwd

'C:\\Users\\KAVYA\\titanic_exploration'

In [8]:
data.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
884,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
885,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
886,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
887,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
888,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True