In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv('./data/titanic_data.csv')

In [6]:
pwd

'C:\\Users\\KAVYA\\titanic_exploration'

In [7]:
data.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
884,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
885,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
886,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
887,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
888,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [8]:
data.isnull().sum()

survived         0
pclass           0
sex              0
age            176
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           686
embark_town      2
alive            0
alone            0
dtype: int64

In [9]:
data=data.drop('deck', 1)

C:\Users\KAVYA\AppData\Local\Temp/ipykernel_27292/2797175575.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data=data.drop('deck', 1)

In [10]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

In [11]:
data.drop("deck",axis=1)

KeyError: "['deck'] not found in axis"

In [12]:
data.isna().any()

survived       False
pclass         False
sex            False
age             True
sibsp          False
parch          False
fare           False
embarked        True
class          False
who            False
adult_male     False
embark_town     True
alive          False
alone          False
dtype: bool

In [13]:
data['embark_town'].fillna("Cherbourg", inplace = True)

In [14]:
data.isna().any()

survived       False
pclass         False
sex            False
age             True
sibsp          False
parch          False
fare           False
embarked        True
class          False
who            False
adult_male     False
embark_town    False
alive          False
alone          False
dtype: bool

In [15]:
data['embarked'].fillna("C", inplace = True)

In [16]:
data.isna().any()

survived       False
pclass         False
sex            False
age             True
sibsp          False
parch          False
fare           False
embarked       False
class          False
who            False
adult_male     False
embark_town    False
alive          False
alone          False
dtype: bool

In [17]:
numeric_features = ['Age', 'Fare']
# Categorical Features
ordinal_features = ['Pclass', 'SibSp', 'Parch']
nominal_features = ['Sex', 'Embarked']

In [18]:
data1=data

In [22]:
column1="age"
column2="who"

In [23]:
for indices , row in data1.iterrows():
    nullvalue = data.at[indices,column1]
    if nullvalue.isnull():
        if data.at[indices, column2] == "child":
            data.at[indices,column1]= 15
        else:
            data.at[indices,column1]= 15

AttributeError: 'numpy.float64' object has no attribute 'isnull'